[submodule "Front-End"]
	path = Front-End
	url = https://github.com/N4TH4NB/Projeto_Final_Front
[submodule "Receptor"]
	path = Receptor
	url = https://github.com/N4TH4NB/Projeto_Final_Receiver_Database
[submodule "Transmissor"]
	path = Transmissor
	url = https://github.com/N4TH4NB/Projeto_Final_Transmitter
